Packages/RealityKitContent/.swiftpm/xcode/xcuserdata
.DS_Store
.DS_Store
playground.xcodeproj/project.xcworkspace/xcuserdata
playground.xcodeproj/xcuserdata
build/
GodotVisionExample.xcodeproj/project.xcworkspace/xcuserdata/*
GodotVisionExample.xcodeproj/xcuserdata/*.xcuserdatad
